<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitter real-time sentiment analysis</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/utils.css">

  </head>
  <body>

    <div class="jumbotron vertical-center">
      <div class="container-fluid" id="header">
        <p id = "header_text">Мониторинг тональности твитов о ВУЗ'ах в режиме реального времени</p>
      </div>
    </div>

    <div id="tools" class = "parent">
      <label id = "overall_label">overall data</label>
      <label class="switch" onchange="switch_charts()">
        <input type="checkbox">
        <div class="slider round"></div>
      </label>
      <label id = "blocks_label">by blocks</label>
    </div>

    <div class="container-fluid">
      <ul class="nav nav-tabs" role="tablist">
      </ul>
      <div class="tab-content">
      </div>
    </div>

    <div class="container-fluid" id="map_container">
    </div>

    <table class="table table-bordered" id="tweets_table">
        <tr>
          <th>Автор</th>
          <th>Дата</th>
          <th>Твит</th>
          <th>Тональность</th>
        </tr>
    </table>

    <footer>
      <p>&copy; Myrov Vladislav, 2016, https://github.com/Vlad0922/twitter_sentiment</p>
    </footer>

    <!-- libraries -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPeVwEwKApUBqT0kJ3_3pO7LDDXe5Bp8U&libraries=visualization"></script>

    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/utility.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
